@import url('https://fonts.googleapis.com/css2?family=Fredoka+One:wght@400;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    flex-direction: column;
    margin-top: 50px;
    font-family: poppins;
    background: #ecf0f3;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  place-items: center;
  overflow: hidden;

}

.main-container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;

}

.heading{
    background: #ecf0f3;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
    
}



input:focus{
    outline: none;
}

#user-merit{
    margin-top: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    margin-bottom: 20px;
    height: 50px;
    border: none;
    border-radius: 10px;
    padding: 20px;
    font-size: 18px;
    color: black;
    font-family: poppins;
}

#smt-btn{
    background: black;
    height: 40px;
    width: 200px;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    border: none;
    transition: all 0.5s ease-out;
}

#smt-btn:hover{
    background-color: white;
    color: black;
    letter-spacing: 3px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}
.a{
    font-size: 40px;
    color: #263238;
    
}
.e{
    font-size: 40px;
    color: white;
    background-color: #263238;
    width: 100%;
}
.g{
    font-size: 20px;
    color: white;
    background-color: #263238;
    width: 100%;
}
.b{
    font-size: 40px;
    color: yellow;
}
.c{
    font-size: 20px;
    color: #263238;
    background-color: #fff;
}
.A{
    margin-top: 100px;
    width: 100%;
    opacity: 0.5;
}
